# Deployment settings
# DEPLOYMENT_MODE can be 'CLOUD' or 'ON_PREM'
DEPLOYMENT_MODE=CLOUD

# Kafka settings
KAFKA_BROKER_URL=broker:29092
KAFKA_TOPIC_EVENTS=feature-events

# ClickHouse settings
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=feature_intelligence

# API settings
API_PORT_INGESTION=8000
API_PORT_ANALYTICS=8001
